@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-gray-0: #ffffff;
  --color-gray-50: #f5f6f8;
  --color-gray-100: #eeeff3;
  --color-gray-200: #e3e7ed;
  --color-gray-300: #c7cbd1;
  --color-gray-500: #a3a8b0;
  --color-gray-600: #959aa3;
  --color-gray-900: #222222;
  --color-brand: #95c674;
  --color-notice: #ff4e4e;
  --font-size-sm: 0.875rem; /* 14px */
  --font-size-base: 1rem; /* 16px */
  --font-size-lg: 1.25rem; /* 20px */
  --font-size-xl: 1.5rem; /* 24px */
  --font-size-2xl: 2rem; /* 32px */
  --font-size-3xl: 2.25rem; /* 36px */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}
